.margin-top-40{
    margin-top:60px;
}
.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}
.usr-pic img{
    width:150px;
    height:150px;

}
.usr-pic{
    margin-top:10px;
    margin-bottom: 10px;
}
