<div class="back2">
<div class="container">
    <div fxLayout="row">
         <div fxFlex="20"></div>
        <div fxFlex="60">

            <mat-card >
                <h4 class="media-head">Media assets Management</h4>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Folder path" name="file_path" value="" >
                        <button mat-raised-button  color="primary" matSuffix class="upload-btn">
                            <label for="file-upload" class="custom-file-upload">Upload
                            </label>
                            <input id="file-upload" type="file" name="file_path" />
                        </button>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="File Name" >
                    </mat-form-field>
<!--                    <a [routerLink]="['/add-tag']"></a>-->
                        <button mat-flat-button  color="warn" (click)="openTags()" >Add tags</button>
                      <div  *ngIf="tags" class="tags-div">
                         <div fxLayout="column">

                               <div fxLayout="row" fxLayoutGap="15px">
                                       <div fxFlex="50">
                                           <mat-form-field class="example-full-width">
                                               <input matInput placeholder=" Name of the Doctor" >
                                           </mat-form-field>
                                       </div>
                                       <div fxFlex="50">
                                           <mat-form-field class="example-full-width">
                                               <input matInput placeholder="Designation" >
                                           </mat-form-field>
                                       </div>
                               </div>
                             <div fxLayout="row" fxLayoutGap="15px">
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <input matInput placeholder=" Hospital" >
                                     </mat-form-field>
                                 </div>
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <input matInput placeholder="Event" >
                                     </mat-form-field>
                                 </div>
                             </div>
                             <div fxLayout="row" fxLayoutGap="15px">
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <input matInput placeholder=" Category" >
                                     </mat-form-field>
                                 </div>
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <input matInput placeholder="Speciality" >
                                     </mat-form-field>
                                 </div>
                             </div>
                             <div fxLayout="row" fxLayoutGap="15px">
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <mat-label>Select country</mat-label>
                                         <mat-select>
                                             <mat-option  value="">india</mat-option>
                                             <mat-option  value="">Usa</mat-option>
                                         </mat-select>
                                     </mat-form-field>
                                 </div>
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <mat-label>Select City</mat-label>
                                         <mat-select>
                                             <mat-option  value="">Hyd</mat-option>
                                             <mat-option  value="">Mumbai</mat-option>
                                         </mat-select>
                                     </mat-form-field>
                                 </div>
                             </div>
                              <div fxLayout="column">
                                  <mat-form-field class="example-full-width">
                                      <textarea matInput placeholder="Short Desicription"></textarea>
                                  </mat-form-field>
                              </div>
                             <div fxLayout="row" fxLayoutGap="15px">
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <mat-label>Select Type of Tag</mat-label>
                                         <mat-select>
                                             <mat-option  value="">Audio</mat-option>
                                             <mat-option  value="">Video</mat-option>
                                             <mat-option  value="">podcast</mat-option>
                                             <mat-option  value="">Blog</mat-option>
                                             <mat-option  value="">Presentation</mat-option>
                                             <mat-option  value="">Key take Aways</mat-option>
                                         </mat-select>
                                     </mat-form-field>
                                 </div>
                                 <div fxFlex="50">
                                     <mat-form-field class="example-full-width">
                                         <mat-label>Social Media type</mat-label>
                                         <mat-select>
                                             <mat-option  value="">Youtube</mat-option>
                                             <mat-option  value="">facebook</mat-option>
                                         </mat-select>
                                     </mat-form-field>
                                 </div>
                             </div>
                         </div>
                      </div>
                    <p class="last-file"><b>Upload File</b></p>
                    <!-- <input type="file" name="Myfile" (change)="handleInputChange($event)"/> -->
                    <div fxLayout="row" class="mar-top">
                        <button mat-flat-button color="primary">Submit</button>
                    </div>
                </form>

            </mat-card>
        </div>
        <div fxFlex="20"></div>
    </div>
</div>
</div>
