     <div class="container">
                  <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <div fxLayout="row">
                            <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                            <div fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout.gt-sm="80%" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayout.gt-xs="row" class="box-shadow">
                              <div fxLayoutAlign.lt-sm="center center">
                                <img src="/assets/ulhas1.jpg" style="width:220px;height:220px;">
                              </div>                        
                              <div class="carousel-pad" fxLayout="column">
                                <h3>Best Press Release Platform</h3>
                                <p>"Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing"</p>
                                <h6>Tiffany Kayar</h6>
                                <p><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Communication Consultant</p>
                              </div>
                          </div>
                          <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                        </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                      <div fxLayout="row">
                          <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                          <div fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout.gt-sm="80%" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayout.gt-xs="row" class="box-shadow">
                            <div fxLayoutAlign.lt-sm="center center">
                              <img src="/assets/ulhas1.jpg" style="width:220px;height:220px;">
                            </div>                        
                            <div class="carousel-pad" fxLayout="column">
                              <h3>Best Press Release Platform</h3>
                              <p>"Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing"</p>
                              <h6>Tiffany Kayar</h6>
                              <p><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Communication Consultant</p>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                      </div>
                  </ng-template>   
                  <ng-template carouselSlide>
                      <div fxLayout="row">
                          <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                          <div fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout.gt-sm="80%" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayout.gt-xs="row" class="box-shadow">
                            <div fxLayoutAlign.lt-sm="center center">
                              <img src="/assets/ulhas1.jpg" style="width:220px;height:220px;">
                            </div>                        
                            <div class="carousel-pad" fxLayout="column">
                              <h3>Best Press Release Platform</h3>
                              <p>"Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing"</p>
                              <h6>Tiffany Kayar</h6>
                              <p><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Communication Consultant</p>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                      </div>
                  </ng-template>  
                  <ng-template carouselSlide>
                      <div fxLayout="row">
                          <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                          <div fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout.gt-sm="80%" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayout.gt-xs="row" class="box-shadow">
                            <div fxLayoutAlign.lt-sm="center center">
                              <img src="/assets/ulhas1.jpg" style="width:220px;height:220px;">
                            </div>                        
                            <div class="carousel-pad" fxLayout="column">
                              <h3>Best Press Release Platform</h3>
                              <p>"Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing"</p>
                              <h6>Tiffany Kayar</h6>
                              <p><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Communication Consultant</p>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                      </div>
                  </ng-template>   
                  <ng-template carouselSlide>
                      <div fxLayout="row">
                          <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                          <div fxFlex.lt-sm="100%" fxFlex.lt-md="100%" fxLayout.gt-sm="80%" fxLayout.lt-sm="column" fxLayout.lt-md="row" fxLayout.gt-xs="row" class="box-shadow">
                            <div fxLayoutAlign.lt-sm="center center">
                              <img src="/assets/ulhas1.jpg" style="width:220px;height:220px;">
                            </div>                        
                            <div class="carousel-pad" fxLayout="column">
                              <h3>Best Press Release Platform</h3>
                              <p>"Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing Timely, easy to use, friendly support and great pricing"</p>
                              <h6>Tiffany Kayar</h6>
                              <p><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;Communication Consultant</p>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="10%" fxFlex.lt-md="0%" fxFlex.lt-sm="0%"></div>
                      </div>
                  </ng-template>  
                </owl-carousel-o>
      </div>