<!-- <div class="footer">
    <div class="container">
        <div fxLayout.lt-sm="column" fxLayout.gt-xs="row">
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="40%">
                <h3>NEWSWIRE</h3>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="60%" fxLayoutAlign.lt-sm="start" fxLayoutAlign.gt-xs="end" fxLayout.lt-sm="column" fxLayout.gt-xs="row" style="padding:0px 0px 30px 0px;">
                <input type="text" placeholder="Email-Id" style="width:250px;">
                <button mat-flat-button style="width:fit-content;">FREE PR GUIDE</button>
            </div>
        </div>
    </div>
        <div class="container">
            <div fxLayout.lt-sm="column" fxLayout.gt-xs="row wrap" fxFlex="100%">
                <div fxFlex.lt-sm="100%" fxFlex.lt-md="50%" fxFlex.gt-sm="25%" fxLayout="column">
                    <h6 class="heading2 p-top">Contact Info</h6>
                    <mat-list role="list">
                            <mat-list-item role="listitem" [routerLink]="['']"><i class="material-icons">phone</i>&nbsp;+91 9999999999</mat-list-item>
                    </mat-list>
                    <p style="padding: 8px 0px;">Follow Us</p>
                    <div fxLayout="row" class="sub-footer2">
                        <a [routerLink]="['']"><img src="https://storage.googleapis.com/web-assets/social-media-icons/new/fb-icon.png" style="height:32px;width:32px;"></a>
                        <a [routerLink]="['']"><img src="https://storage.googleapis.com/web-assets/social-media-icons/new/instagram.png" style="height:32px;width:32px;"></a>
                        <a [routerLink]="['']"><img src="https://storage.googleapis.com/web-assets/social-media-icons/new/linked-in.png" style="height:32px;width:32px;"></a>
                        <a [routerLink]="['']"><img src="https://storage.googleapis.com/web-assets/social-media-icons/new/twitter.png" style="height:32px;width:32px;"></a>
                    </div>
                </div>
                <div fxFlex.lt-sm="100%" fxFlex.lt-md="50%" fxFlex.gt-sm="25%">
                    <h6 class="heading2 p-top">Products</h6>
                    <mat-list role="list">
                        <mat-list-item role="listitem" [routerLink]="['']">Press Release Distribution</mat-list-item>
                        <mat-list-item role="listitem" [routerLink]="['']">Media Database</mat-list-item>
                        <mat-list-item role="listitem" [routerLink]="['']">Media Watch</mat-list-item>
                        <mat-list-item role="listitem" [routerLink]="['']">Analytics</mat-list-item>
                        <mat-list-item role="listitem" [routerLink]="['']">AMedia Room</mat-list-item>
                        <mat-list-item role="listitem" [routerLink]="['']">Customer Success</mat-list-item>
                    </mat-list>
                </div>
                <div fxFlex.lt-sm="100%" fxFlex.lt-md="50%" fxFlex.gt-sm="25%">
                    <h6 class="heading2 p-top">Company</h6>
                    <mat-list role="list">
                            <mat-list-item role="listitem" [routerLink]="['']">About Us</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">Blog</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">Careers</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">Customer Stories</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">Our Media Room</mat-list-item>
                        </mat-list>
                </div>
                <div fxFlex.lt-sm="100%" fxFlex.lt-md="50%" fxFlex.gt-sm="25%" class="sub-footer">
                    <h6 class="heading2 p-top">Resources</h6> 
                    <mat-list role="list">
                            <mat-list-item role="listitem" [routerLink]="['']">For Journalists</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">For Partners</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">Newsroom</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">PR and Earned Media Planner</mat-list-item>
                            <mat-list-item role="listitem" [routerLink]="['']">RSS Feeds</mat-list-item>
                    </mat-list>               
                </div>
            </div>
        </div>
        <div class="container">
            <div fxLayout.lt-md="column" fxLayout.gt-sm="row" class="sub-footer3">
                <div fxFlex.lt-md="100%" fxFlex.gt-sm="25%" fxLayout="column">
                    <h6 class="p-top">Powered By:</h6>
                    <div fxFlex="100%" fxLayoutAlign="center center">
                        <img src="https://storage.googleapis.com/web-assets/footer/new-poweredby-google.png">
                    </div>
                </div>
                <div fxFlex.gt-sm="10%" fxHide.lt-md="true" fxShow></div>
                <div fxLayout.lt-md="100%" fxFlex.gt-sm="65%" fxLayout="column" fxLayout.lt-md="column">
                    <h6 class="p-top">Awards & Recognitions</h6>
                    <div fxLayout="row" fxFlex="100%">
                        <div fxFlex="25%" fxLayoutAlign="center center">
                            <img src="https://storage.googleapis.com/web-assets/footer/awars01.png">
                        </div>
                        <div fxFlex="25%" fxLayoutAlign="center center">
                                <img src="https://storage.googleapis.com/web-assets/footer/1000awards.png">
                        </div>
                        <div fxFlex="25%" fxLayoutAlign="center center">
                            <img src="https://storage.googleapis.com/web-assets/footer/SBC_global_logo-L-2.png">
                        </div>
                        <div fxFlex="25%" fxLayoutAlign="center center">
                            <img src="https://storage.googleapis.com/web-assets/footer/startup.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



  
    <div class="final-footer">
        <div class="container" fxLayout="column">
            <hr style="color:gray;margin: 40px 0px 0px 0px;">
        <div class="footer" style="width:100%">
            <div fxLayout="row">
                <div fxFlex="50%">
                    <ul fxLayout.lt-md="column" fxLayout.gt-sm="row" style="padding-left:0px;">
                        <li><a href="https://publish.therightdoctors.com/about">About us</a></li>
                        <li><a href="https://therightdoctors.com/coronavirus/live-updates/">News</a></li>
                        <!-- <li><a href="#">Careers</a></li> -->
                        <!-- <li><a href="#">Help Center</a></li> -->
                        <li><a href="https://therightdoctors.com/terms-of-service">Terms</a></li>
                        <li><a href="https://therightdoctors.com/disclaimer">Disclaimer</a></li>
                        <li><a href="https://therightdoctors.com/privacy-policy">Privacy</a></li>
                        <!-- <li><a href="#">Imprint</a></li> -->
                    </ul>
                </div>
                <div fxLayout.lt-md="column" fxLayout.gt-sm="row" fxFlex="50%" fxLayoutAlign.lt-md="center start" fxLayoutAlign.gt-sm="end">
                    <ul fxLayout.lt-md="column" fxLayout.gt-sm="row">
                        <li><a href="https://journalofmedicine.therightdoctors.com">Publications</a></li>
                        <li><a href="https://insights.therightdoctors.com">Insights</a></li>
                        <li><a href="https://slides.therightdoctors.com">Slides</a></li>
                        <li><a href="https://podcast.therightdoctors.com">Podcasts</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign.lt-md="center center" fxLayoutAlign.gt-sm="end">
                <p style="font-size: 0.75rem;color:gray">© 2020 TheRightDoctors. All rights reserved.</p>
            </div> -->
        </div>
    </div>
    </div>
    
