<div class="background-banner">
     <div class="layer">
           <div class="container">
                  <div class="fxLayout" >
                      <div fxFlex="30">
                          <img src="/assets/trd-logo-new.png" style="margin-top:-10px;" />
                      </div>
                      <div fxFlex="70" align="right">
                          <a [routerLink]="['/brand_login']">
                           <button mat-stroked-button color="primary" class="login">Login</button></a>
                      </div>
                  </div>
           <div class="content-kick animated slideInUp">
               <h1>KICK START YOUR CAREER !</h1>
               <h2>Become a TRD Student Brand Ambassador</h2>
               <a [routerLink]="['/brand-form/medical']"> <button mat-flat-button color="warn">Join Now</button></a>
           </div>
<!--          <div class="icon-down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>-->
           </div>
     </div>
</div>

<div class="intro">
    <div class="container animated slideInUp" style="padding: 10px 85px;" ngStyle.lt-md="padding: 10px 0px">
          <h2>Student Ambassador Program</h2>
          <p>Thank you for your interest in joining the Student Ambassador Program at TheRightDoctors, We are a Google Launchpad Product Startup in the Digital Health space. Here you will find more information about the program benefits, the requirements to become an Ambassador, and how to take your first step to apply to the program.</p>
    </div>
</div>









<div class="trd-about-back">
    <div class="trd-layer">
       <div class="container">
           <div fxLayout="row" fxLayout.lt-md="column">
               <div fxFlex="60" class="animated slideInUp">
                   <h2>BENEFITS</h2>
                    <ul class="list-brand">
                        <li>Access and insights into new applications.</li>
                        <li>Opportunities to meet and interview Prominent Leaders of Medical Fields.</li>
                        <li>Be a medium for Publishing Research Papers on our Website from your College!</li>
                        <li>Access to the Ambassador Network.</li>
                        <li>Use of title of Ambassador for CV development.</li>
                    </ul>

               </div>
               <div fxFlex=""></div>
           </div>
       </div></div>
</div>


<div class="trd-about-back-2">
    <div class="trd-layer-2">
        <div class="container">
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="60"></div>
                <div fxFlex="40" class="animate rotateInDownRight">
                    <h2>REQUIREMENTS</h2>
                    <ul class="list-brand-right">
                        <li>You should belong to top 20 percentile of your college.</li>
                        <li>Know your college the best.</li>
                        <li>Inquisitive, Curious and have organisational skills</li>
                    </ul>
                </div>

            </div>
        </div></div>
</div>


<div class="trd-about-back-3">
    <div class="trd-layer-3">
        <div class="container">
            <div fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="60" class="animate rotateInDownRight">
                    <h2>What will you DO?</h2>
                    <ul class="list-brand">
                        <li>Ideate on and execute innovative campaign plans.</li>
                        <li>Work on live marketing projects for the brand.</li>
                        <li>Strategise and drive Word of Mouth in campus events and activities</li>
                        <li>Set up and moderate a Facebook page for The Right Doctors on your campus</li>
                    </ul>

                </div>
                <div fxFlex=""></div>
            </div>
        </div></div>
</div>

<div  class="banner">
    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="20"></div>
            <div fxFlex="60" align="center">
                <h2> Apply ! </h2>
                <div fxLayout="row" fxLayout.lt-md="column">

                    <div fxFlex="" >
                        <a [routerLink]="['/brand-form/medical']">
                            <div class="icon-section"><i class="fa fa-user-md" aria-hidden="true"></i></div>
                            <p>Medical</p>
                        </a>
                    </div>

                    <div fxFlex=""  >
                        <a [routerLink]="['/brand-form/it']">
                            <div class="icon-section"> <i class="fa fa-building-o" aria-hidden="true"></i></div>
                            <p>IT</p>
                        </a>
                    </div>

                    <div fxFlex=""  >
                        <a [routerLink]="['/brand-form/management']">
                            <div class="icon-section">  <i class="fa fa-sitemap" aria-hidden="true"></i></div>
                            <p>Management</p>
                        </a>
                    </div>
                </div>
            </div>
            <div fxFlex="20"></div>
        </div>
    </div>
</div>


<div class="test-monials-back">
    <div class="layer-back">
        <div class="container">
            <h3 class="test-monial"> Testmonials</h3>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">

                    <div class="carousel-item active" style="text-align: center;">
                        <img class="img-circle" src="https://storage.googleapis.com/web-assets/intern-images/ganesh.png" alt="First slide">
                        <p class="name-test"><b>Ganesh</b></p>
                        <p style="color:#f8f8f8;font-size:13px;font-style: italic;padding-bottom:10px">(IIIT, Guwahati)</p>
                        <p style="color:#fff;text-align: center">The campus ambassador program was a good learning curve for me. I developed a healthy network through this programme. I would love to reunite with TheRightDoctors on similar occasion.</p>

                    </div>
                    <div class="carousel-item" style="text-align: center;">
                        <img class="img-circle" src="https://storage.googleapis.com/web-assets/intern-images/mohith.png" alt="First slide">
                        <!--            <img class="d-block w-100" src="https://storage.googleapis.com/web-assets/wccmm-2019/WCCMM-Interview/Pankaj-manoria/Pankaj-manoria-large.jpg" alt="Second slide">-->
                        <p class="name-test"><b>Mohit</b></p>
                        <p style="color:#f8f8f8;font-size:13px;font-style: italic;padding-bottom:10px">(IIT, Mumbai)</p>
                        <p style="color:#fff;text-align: center">By being a BA to TheRightDoctors, I've learned good strategies on marketing and I helped my connections,friends and college students understand on how TheRightDoctors helps in growing their ideas from scratch to building their own startup.</p>

                    </div>
                    <div class="carousel-item" style="text-align: center;">
                        <img class="img-circle" src="https://storage.googleapis.com/web-assets/intern-images/rahul.jpg" alt="First slide">
                        <!--            <img class="d-block w-100" src="https://storage.googleapis.com/web-assets/wccmm-2019/WCCMM-Interview/OP-Yadava/OP-Yadava-large.jpg" alt="Third slide">-->

                        <p class="name-test"><b>Rahukl</b></p>
                        <p style="color:#f8f8f8;font-size:13px;font-style: italic;padding-bottom:10px">(IIIT, Guwahati)</p>
                        <p style="color:#fff;text-align: center">This really means a lot to me and it helped me evolve as a person. TheRightDoctors is a great initiative and making us as stepping stones for that makes us feel great.
                        </p>

                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div fxLayout="row" fxLayout.lt-md="column">
            <div fxFlex="50">
                <ul class="list-footer">
                    <a href="https://therightdoctors.com/terms-of-service" target="_blank"><li>Terms & Conditions</li></a>
                    <a href="https://therightdoctors.com/privacy-policy" target="_blank"><li>Privacy Policy</li></a>
                    <a href="https://therightdoctors.com/disclaimer" target="_blank"><li>Disclaimer</li></a>
                </ul>
            </div>
            <div fxFlex="50" >
                <p style="text-align: right;font-size:14px;color:#f8f8f8;" ngStyle.lt-md="text-align: left;padding-top:10px;color:#f8f8f8;">© TheRightDoctors Network. All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>
