@media(max-width:959px){
    .myposts{
        padding:70px 0px 0px 0px;
    }
}
@media(min-width:960px){
    .myposts{
        padding-top:100px;
    }
}
h4{
    font-size: 20px !important;
    margin-bottom:0px;
}
p{
    margin-bottom: 8px;
}
button{
    word-break: break-all;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 8px;
}