<header class="header" *ngIf="!show">
    <div class="container">
        <div fxLayout="row">
            <div fxFlex="40" fxFlex.lt-md="70">
                <a [routerLink]="['/brand-ambassador-program']">
                <img src="/assets/trd-logo.png" /><span style="font-size:22px;" ngStyle.lt-md="font-size:17px"> Campus Ambassador</span></a>
            </div>
            <div fxFlex="60"  align="right" fxFlex.lt-md="30" align="right">
                <button *ngIf="!show" [routerLink]="['/brand_login']" mat-stroked-button color="primary" >Login</button>
            </div>
        </div>
    </div>
</header>
<header class="header" *ngIf="show">
    <div class="container">
        <div fxLayout="row">
            <div fxFlex="40" fxFlex.lt-md="70">
                <a [routerLink]="['/brand-ambassador-program']">
                    <img src="/assets/trd-logo.png" /><span style="font-size:22px;" ngStyle.lt-md="font-size:17px"> Campus Ambassador</span></a>
            </div>
            <div fxFlex="60" fxFlex.lt-md="30" align="right">

                <div class="profile-part-head">
                    <img src="/assets/user-profile.png" class="profile-pic"/><span  [matMenuTriggerFor]="menu"><span fxShow.lt-md="false">{{name}}</span><i class="fa fa-angle-down"  aria-hidden="true" ></i></span>

                    <mat-menu #menu="matMenu">
                        <a [routerLink]="['/user-profile']"><button mat-menu-item><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Profile</button></a>

                        <a [routerLink]="['/user_upload']"><button mat-menu-item><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload </button></a>
<!--                        <button mat-menu-item id="logout" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Logout</button>-->
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</header>

