<div fxLayout="row" class="example-form" fxLayoutGap="15px" style="border-bottom: 3px dashed #e8e8e8;">
    <div fxFlex="10">
        <p style="font-weight: bold;margin-top: 20px;">Sort By :</p>
    </div>
    <div fxFlex="30">
        <mat-form-field class="example-full-width">
            <mat-label>Event Name</mat-label>
            <mat-select  multiple placeholder="Event Name">
                <mat-option  value="">By Event</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="30">
        <mat-form-field class="example-full-width" placeholder="Doctor Name">
            <mat-label>By City</mat-label>
            <mat-select  multiple>
                <mat-option  value=" ">By City</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxFlex="30">
        <mat-form-field class="example-full-width" placeholder="speciality">
            <mat-label>By Doctor/Specilaity</mat-label>
            <mat-select multiple>
                <mat-option  value="">By Doctor/Specilaity</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<p class="files">Files </p>
<div class="list-items">
    <mat-nav-list>
        <a mat-list-item ><i class="fa fa-video-camera" aria-hidden="true"></i>&nbsp;File Name <span>Dr.name</span></a>
        <a mat-list-item ><i class="fa fa-headphones" aria-hidden="true"></i>&nbsp;File Name <span>Dr.name</span></a>
        <a mat-list-item ><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;File Name <span>Dr.name</span></a>
        <a mat-list-item ><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;File Name <span>Dr.name</span></a>
    </mat-nav-list>


</div>
