<!--<mat-toolbar >-->
<!--    <mat-toolbar-row>-->
<!--        <span>Media assets Management</span>-->
<!--        <span><p>-->
<!--  <mat-form-field appearance="standard">-->
<!--    <mat-label>Standard form field</mat-label>-->
<!--    <input matInput placeholder="Placeholder">-->
<!--    <mat-icon matSuffix>search</mat-icon>-->
<!--    <mat-hint>Hint</mat-hint>-->
<!--  </mat-form-field>-->
<!--</p></span>-->
<!--    </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<mat-toolbar >
<mat-toolbar-row class="mat-row-head">
    <span>Media assets Management</span>
    <span class="example-spacer"></span>
    <p class="example-icon">
        <mat-form-field appearance="standard" class="search-with">
            <mat-label>Search here</mat-label>
            <input matInput >
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </p>
</mat-toolbar-row>
</mat-toolbar>

<div class="">
    <nav mat-tab-nav-bar >
        <a mat-tab-link *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink == link"> {{link}} </a>
    </nav>
    <div class="container back-shodow">
        <router-outlet></router-outlet>
    </div>


</div>
