<header class="header">
    <div class="container">
        <div fxLayout="row">
            <div fxFlex="20">
                <a href="https://editorial.therightdoctors.com"><span style="font-size:22px;color:#fff;font-weight: bold;">EDITORIAL</span></a>
                <!-- <img src="/assets/r-logo.jpg" style="width:30px"/><span style="font-size:22px;">Publishers</span> -->
            </div>
            <div fxFlex="80"></div>
        </div>
    </div>
</header>
<div class="container">
    <div fxLayout="row" style="padding-top:180px;">
        <div fxFlex.lt-md="0%" fxFlex.gt-sm="30"></div>
        <div fxFlex.lt-md="100%" fxFlex.gt-sm="40">
            <mat-card style="padding:10px">
                <h4 style="font-weight:600">Reset your Password</h4>
                <form id="example-form" (ngSubmit)="pwd_reset()" #f="ngForm" novalidate class="example-form">
                    <p *ngIf="sent" style="color:lightseagreen">{{result}}</p>
                    <mat-form-field class="example-full-width">
                        <input matInput name="email" id="forgotemail" placeholder="Email Address" [(ngModel)]="model.email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" autofocus required>
                        <mat-error *ngIf="inputChecking.hasError('required')">
                            Please enter valid email address (<b>Ex: abc@gmail.com</b>)
                        </mat-error>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button color="primary" id="submit" type="submit" [disabled]="!f.form.valid">Submit
                            <i class="fa fa-spinner fa-spin" *ngIf="load"></i>
                            <i class="fa fa-check"  *ngIf="sent"></i></button>
                    </div>
                </form>
            </mat-card>
        </div>
        <div fxFlex.lt-md="0%" fxFlex.gt-sm="30"></div>
    </div>
</div>
