<!-- <p>publish works!</p> -->
<!-- <div fxLayout ="row">
    <div fxFlex.lt-md = "0%" fxFlex.gt-sm="15%">
        <div fxFlex.lt-md = "100%" fxflex.gt-sm="70%" fxLayout="column">
            <div fxLayout ="column">
                <div fxLayout ="row">
                    <div fxFlex = "80%">
                        <h5>Add your research</h5>
                    </div>
                    <div fxFlex="20%" fxLayoutAlign="end">
                         <img src="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">
                    </div>
                </div>
                <div fxLayout="row" class="border-btm" fxLayoutGap="15px">
                    <div fxFlex="15%">
                        <img src="https://www.flaticon.com/authors/those-icons" title="Those Icons">
                    </div>
                    <div fxFlex="75%" fxLayout="column">
                        <h6>Podcasts</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="layer1">
    <div class="container">
        <div fxLayout="row">
            <div fxFlex.lt-sm="0%" fxFlex.gt-xs="20"></div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="60%">
<!-- <div fxLayout="column" class="theinterview" fxLayoutGap="10px"> -->
    <!-- <ng-template ngFor let-item [ngForOf]="createRange3(5)" let-currentIndex="index+3"> -->
        <div fxFlex="100%">
      <!-- <a [routerLink]="['/event-details/'+intr[currentIndex]['category']+'/'+intr[currentIndex]['slug']]"> -->
      <mat-card style="width:100%">
          <div fxLayout="row">
          <div fxFlex.gt-sm="25%" fxFlex.lt-md="35%">
            <img src="https://img.icons8.com/color/48/000000/circled-play--v1.png" style="width:100%;height:80px;">
          </div>
          <div fxFlex.gt-sm="75%" fxFlex.lt-md="65%" style="padding-left:10px;" fxLayout="column">
            <div fxFlex.lt-sm="48%" fxFlex.lt-md="60%" style="overflow:hidden;">
            <h5 style="white-space: normal;height:100%;">Podcast</h5>
              </div>
           
          </div>
        </div>
      </mat-card>
      <!-- </a> -->
    </div>
      <!-- </ng-template> -->
  </div>
  </div>
  </div>
</div>