<app-pr-header></app-pr-header>
<div>
<div>
<!-- <img src="https://storage.googleapis.com/web-assets/All-Doctors-Images/Dr.%20RR%20Kasliwal.jpg" style="width:100%;margin-bottom:10px;"/></div> -->
<div class="block2">
    <div class="container">
        <div fxLayout.lt-md="column" fxLayout.gt-sm="row" style="height:100%;" fxLayoutGap.gt-sm="50px">
            <div fxFlex.lt-md="100%" fxFlex.gt-sm="70%" fxLayout="column" class="bg-color" fxLayoutGap.gt-xs="20px" fxFlexOrder.lt-md="1">
                <div fxFlex.lt-md="100%" fxFlex.gt-sm="100%" fxLayout="column" fxAlign="start start" class="inner-pad">
                    <!-- <img src="/assets/trdcover.jpg" style="width:100%;margin-bottom:10px;"/> -->
                    <div class="textpad">
                    <h1>Images</h1>
                    <p style="margin-bottom: 5px;">TheRightDoctors editorial team brings together the best of opinion from thought leaders around the world in the form of images and Keytakeaways.</p>
                    <p>TheRightDoctors Images Platform contains some of the unseen pictures of surgeries and case studies posted by doctors across the world.</p>

<!-- about 2,000 new photos, 36 million(not required-remove), 3 available formats -->
                    <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="15px" class="mg-btm">
                        <div fxFlex.lt-sm="100%" fxFlex.gt-xs="33.33%" class="brder-rgt">
                            <h5>About 2,000 images</h5> 
                            <p>Discover our collection of keytakeaways and images shared by doctors</p>
                            </div>
                            <!-- <div fxFlex.lt-sm="100%" fxFlex.gt-xs="33.33%">
                                Content
                                </div> -->
                                <div fxFlex.lt-sm="100%" fxFlex.gt-xs="33.33%" class="brder-rgt">
                                    <h5>3 Available Formats</h5>
                                    <p>Our platform offers images in resolutions of 1080px, 768px, 512px</p>
                                    </div>
                                
                                    <div fxFlex.lt-sm="100%" fxFlex.gt-xs="33.33%" class="mob-mrg">
                                        <h5>Editing and GFX</h5> 
                                        <p>Round out your story with graphics from our library.</p>
                                        </div>
                    </div>
                    </div>
                  <div >

                  </div>
                </div>
                <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap="15px" fxLayoutAlign="center center">
                    <!-- <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="bx-shd">
                        <img src="https://storage.googleapis.com/web-assets/Coronavirus-2020/Manas-Panigrahi/manas-sudhindra.jpg" style="width:100%;">
                    </div>  -->
                    <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%" class="bx-shd">
                        <img src="https://storage.googleapis.com/web-assets/All-Doctors-Images/Dr.%20RR%20Kasliwal.jpg" style="width:100%;">
                    </div>
                </div>
            </div>
            <div fxFlex.lt-md="100%" fxFlex.gt-sm="30%" class="desk-bg" fxFlexOrder.lt-md="2" style="background-color:#ECECEC;" fxLayout="column">
                <!-- <div class="pos-img"> -->
                    <!-- <img src="assets/s1.jpg" class="img-res"> -->
                <h2 style="color:#000;line-height: 1.5;font-size: 18px;font-weight:600;padding-left: 10px;padding-bottom: 5px; padding-right: 10px;margin-top: 30px;">Here's how our Knowledge Network Works:</h2>
 <div fxLayout="row" class="padd-left">
    <span class="material-icons" style="font-size: 18px;margin-top:4px;">arrow_forward</span>
   <p   style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;">Share your publications and publish your data</p>
               </div>
<div fxLayout="row" class="padd-left">
   <span class="material-icons" style="font-size: 18px;margin-top:4px;">arrow_forward</span>
   <p  style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;">Connect and collaborate with colleagues, peers, co-authors, and specialists</p>
</div>
<div fxLayout="row" class="padd-left">
   <span class="material-icons" style="font-size: 18px;margin-top:4px;">arrow_forward</span>
<p  style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;">Stay Updated with Podcasts, insights, features , columns, take aways, articles and videos from Key Opinion Leaders</p>
</div>
<div fxLayout="row" class="padd-left">
   <span class="material-icons" style="font-size: 18px;margin-top:4px;">arrow_forward</span>
   <p  style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;">Find out who's reading your content</p>
</div>
<div fxLayout="row" class="padd-left">
   <span class="material-icons" style="font-size: 18px;margin-top:4px;">arrow_forward</span>
   <p  style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;margin-bottom: 30px;">Check your edited content before publishing it on our QC platform</p>
</div>
<p style="padding-left: 10px;"><b>Follow Us</b></p>
<div fxLayout="row" style="padding-left: 20px;" fxLayoutGap="15px">
   <div>
       <a href="https://www.facebook.com/therightdoctors">
       <img src="https://storage.googleapis.com/web-assets/social-media-icons/new/fb-icon.png" style="height: 24px;width: 24px;"/></a>
   </div>
   <div>
       <a href="https://www.youtube.com/channel/UCUZIhLsNbgkCqymAZshSVHQ">
       <img src="https://storage.googleapis.com/web-assets/social-media-icons/youtube.png" style="height: 24px;width: 24px;"/></a>
   </div>
   <div>                                  
       <a href="https://twitter.com/therightdoctors">
       <img src="https://storage.googleapis.com/web-assets/social-media-icons/new/twitter.png" style="height: 24px;width: 24px;"/></a>
   </div>
</div>
<p  style="padding-left: 10px;padding-bottom: 5px; padding-right: 10px;margin-bottom: 30px;">Mail your queries: <span style="color:#005082;">ms@therightdoctors.com</span></p>
</div>
        </div>
      
    </div>
</div>

<div class="blk2" style="padding-top: 30px;">
<div class="container">
    <h5><b>How do we publish the images we receive?</b></h5>
    <p>We add our customized GFX to the images and publish them on our Rightdoctors platforms. A typical RightDoctors image will have your name along with the topic name. We will also be making images with Key Takeaways from your talk</p>
        
        <!-- <p>Some of the examples are given below</p> -->
    <!-- <angular-image-slider
  [images]="imagesUrl"
></angular-image-slider> -->
<angular-image-slider
  [autoRotate]="true"
  [autoRotateAfter]="5000"
  [autoRotateRight]="true"
  [images]="imagesUrl"
></angular-image-slider>
</div>
</div>
</div>

<app-pr-footer></app-pr-footer>
