
<app-pr-header></app-pr-header>
<div class="apply">
    <img src="assets/cons1.jpg" style="width:100%;">
        <div fxLayout="row" class="apply2 mob-view">
            <div fxLayoutAlign="center center">
                <div fxLayout="column" class="padd-left">
                    <h4>Sharpen your medical writing skills in a live environment with India's leading medical knowledge platform</h4>
                </div>
            </div>
        </div>
    <div class="container desk-view">
        <div fxLayout="row" class="apply2">
            <div fxLayoutAlign="center center">
                <div fxLayout="column" class="padd-left">
                    <h4>Sharpen your medical writing skills in a live environment with India's leading medical knowledge platform</h4>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="screen2">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex.lt-md="90%" fxFlex.gt-sm="70%" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h5>About US</h5>
                    <p class="para1">Student Journalist, you will have the opportunity to plan and enable interviews with the leading faculty of your university</p>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="screen2">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex.lt-md="90%" fxFlex.gt-sm="70%" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h5>Vision</h5>
                    <p class="para1">Student Journalist, you will have the opportunity to plan and enable interviews with the leading faculty of your university</p>
                </div>
            </div> 
        </div>
    </div>
</div>
<div class="screen4">
    <div class="container">
        <div fxLayout="row" fxLayoutGap.gt-sm="30px" class="bg-col">
            <mat-card fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="40px" fxLayoutGap.lt-sm="15px">
                <div fxFlex.lt-sm="100%" fxFlex.gt-xs="40%" fxLayoutAlign="center center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h3>Mission</h3>

                        <h6>We are offering you an opportunity to maximize your strengths and develop important communication and other social skills while building relationships for your future career. 
                        </h6>
                    </div>
                </div>
                <div fxFlex.lt-sm="100%" fxFlex.gt-xs="60%">
                    <img src="assets/mission.jpg" style="width:100%;">
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div >

    <div class="container">
        <div fxLayout="row" fxLayoutGap.gt-sm="30px" class="bg-col">
            <mat-card fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="40px" fxLayoutGap.lt-sm="15px">
                <div fxFlex.lt-sm="100%" fxFlex.gt-xs="40%" fxLayoutAlign="center center">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h3>Founder & CEO</h3>

                        <h6>Mayur Kinra 
                        </h6>
                    </div>
                </div>
                <div fxFlex.lt-sm="100%" fxFlex.gt-xs="60%">
                    <img src="assets/mayur.jpg" style="width:60%; border-radius:50%">
                </div>
            </mat-card>
        </div>
    </div>
    </div>

<!-- <div class="screen3">
    <img src="assets/careers1.jpg" style="width:100%;">
    <div class="container">
        <div fxLayout="row" class="apply2">
            <div fxFlex.lt-md="100%" fxFlex.gt-sm="60%">
                <div fxLayout="column" class="padd-left">
                    <h2>Benefits:</h2>
                    <p>1)Connect with People: As a RightDoctors Student Medical Journalist, you are responsible for working with various medical thought leaders in order to bring their ideas to life, they collectively play a big part in the global community to connect and share aspirational ideas and discoveries</p>
                    <p>2) Upskill Yourself: Boost your profile and be ahead of your colleagues by gaining some real world experience. Being a student Medical Journalist will not only push you professionally, but will also give you the chance to interact with renowned faculty from your college. </p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="screen5" style="margin-top: 10%;">
    <div class="container" fxLayout="column">
        <h2>Projects Completed </h2>
        <div fxLayout="column">
            <mat-card>
                <ul>
                    <li><p>Medico Journalist ID Card</p></li>
                    <li><p>Confidence building</p></li>
                    <li><p>Be the first to be informed of the latest</p></li>
                    <li><p>Showcase the academic quotient of your college</p></li>
                    <li><p>Networking opportunity with faculty</p></li>
                    <li><p>Be the most sought after person in college</p></li>
                    <li><p>Early access to panels and talks</p></li>
                    <li><p>Leadership development</p></li>
                    <li><p>Certificate on completion</p></li>
                </ul>
            </mat-card>
        </div>
        <!-- <div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutGap.lt-sm="16px" fxLayoutGap.gt-xs="20px">
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column">
                    <mat-card>
                        <h5>Connect with People:</h5>
                        <p>As a RightDoctors Student Medical Journalist, you are responsible for working with various medical thought leaders in order to bring their ideas to life, they collectively play a big part in the global community to connect and share aspirational ideas and discoveries</p>
                    </mat-card>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column">
                    <mat-card>
                        <h5>Upskill Yourself:</h5>
                        <p>Boost your profile and be ahead of your colleagues by gaining some real world experience. Being a student Medical Journalist will not only push you professionally, but will also give you the chance to interact with renowned faculty from your college. </p>
                    </mat-card>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- 
<div class="screen6">
    <div class="container">
        <h2>The Responsibilities</h2>
        <div fxLayout.lt-sm="column" fxLayout.gt-xs="row wrap">
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons1" fxLayoutAlign="center center">
                        <h6>Interview the who's who in college</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons" fxLayoutAlign="center center">
                        <h6>Phone In/Live recording of faculty</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons1" fxLayoutAlign="center center">
                        <h6>Shortlist submitted material for publication</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons" fxLayoutAlign="center center">
                        <h6>Run live blogs at workshops / conferences</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons1" fxLayoutAlign="center center">
                        <h6>Track key events in college for live updates</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons" fxLayoutAlign="center center">
                        <h6>Share links after publication</h6>
                    </div>
                </div>
            </div>
            <div fxFlex.lt-sm="100%" fxFlex.gt-xs="50%">
                <div fxLayout="column" class="hei-hun">
                    <div fxLayout="column" class="respons1" fxLayoutAlign="center center">
                        <h6>Enroll subscribers for youtube channel</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="screen7">
    <div class="container">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex.lt-md="80%" fxFlex.gt-sm="70%" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Interested?</h2>
                    <p class="para1">If you are ready to upskill yourself and kickstart your career with this opportunity, <br>
                        Please get started:</p>
                  
                    <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
                        <div *ngIf="!login"><button mat-flat-button><a [routerLink]="['/login']">Login</a></button></div>
                        <div *ngIf="!login"><button mat-flat-button><a  [routerLink]="['/register']">Sign Up</a></button></div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
 -->


<!-- <div class="btm-fix">
    <div class="container">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="8px">
               =
                <div fxLayout="row"  fxLayoutAlign="end">
                    <button mat-flat-button><a [routerLink]="['/Upload']">Get Started</a></button>
                </div>
            </div>
        </div>
    </div>
</div> -->



<app-pr-footer></app-pr-footer>